{% extends 'ToxPlaceBundle:Register:register.html.twig' %}

{% block register %}
<h1>Register edit</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('register') }}">←</a>
    </li>
    <li>
        <form action="{{ path('register_delete', { 'id': register.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% include 'ToxPlaceBundle:Register:form.html.twig' with {'form': form,'register':register } %}


        {% endblock %}