{% extends 'ToxPlaceBundle:Register:register.html.twig' %}

{% block register %}
<h1>Register creation</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('register') }}">←</a>
    </li>
</ul>
{% include 'ToxPlaceBundle:Register:form.html.twig' with {'form': form } %}


        {% endblock %}