{% extends 'ToxSatelliteBundle:Satellite:satellite.html.twig' %}

{% block satellite %}
<h1>Satellte edit</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('satellite') }}">←</a>
    </li>
    <li>
        <form action="{{ path('satellite_delete', { 'id': satellite.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% include 'ToxSatelliteBundle:Satellite:form.html.twig' with {'form': form,'satellite':satellite } %}


        {% endblock %}