{% extends 'ToxSatelliteBundle:Satellite:satellite.html.twig' %}

{% block satellite %}
<h1>satellite creation</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('satellite') }}">←</a>
    </li>
</ul>
{% include 'ToxSatelliteBundle:Satellite:form.html.twig' with {'form': form } %}


        {% endblock %}