{% extends '::base.html.twig' %}

{% block content %}
<div class="menus">
    <ul>
        <li><a href="{{ path('satellite') }}">Satellites</a></li>
        <li><a href="{{ path('post') }}">Posts</a></li>
    </ul>
</div>
        {% endblock %}