{% extends '::base.html.twig' %}

{% block content %}
<div class="menus">
    <ul>
        <li><a href="{{ path('source') }}">Sources</a></li>
        <li><a href="{{ path('regexp_new') }}">Check regexp</a></li>
    </ul>
</div>
        {% endblock %}