{% extends 'ToxPlaceBundle:Host:host.html.twig' %}

{% block host %}
<h1>Register creation</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('host') }}">←</a>
    </li>
</ul>
{% include 'ToxPlaceBundle:Host:form.html.twig' with {'form': form } %}


        {% endblock %}