{% extends 'ToxSatelliteBundle:Post:post.html.twig' %}

{% block post %}
<h1>Page creation</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">←</a>
    </li>
</ul>
{% include 'ToxSatelliteBundle:Post:form.html.twig' with {'form': form } %}


        {% endblock %}