{% extends 'ToxPlaceBundle:Domen:domen.html.twig' %}

{% block domen %}
<h1>Domen creation</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('domen') }}">←</a>
    </li>
</ul>
{% include 'ToxPlaceBundle:Domen:form.html.twig' with {'form': form } %}


        {% endblock %}