Tox\PlaceBundle\Entity\Account:
  type: entity
  inheritanceType: JOINED
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    password:
      type: string
      length: 255
      nullable: false
  discriminatorColumn:
    name: descriminator
    length: 255
    type: string
  discriminatorMap:
    FtpAccount: Tox\PlaceBundle\Entity\FtpAccount
    HttpAccount: Tox\PlaceBundle\Entity\HttpAccount
