Tox\PlaceBundle\Entity\FtpAccount:
  type: entity
  fields:
    host_account_id:
      type: integer
      nullable: false
  oneToMany:
    Satellites:
      targetEntity: Tox\SatelliteBundle\Entity\Satellite
      mappedBy: FtpAccount
  manyToOne:
    HostAccount:
      targetEntity: Tox\PlaceBundle\Entity\HostAccount
      inversedBy: FtpAccounts
      joinColumns: null
