Tox\PlaceBundle\Entity\Indexed:
  type: entity
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    in_index:
      type: boolean
      nullable: true
    check_at:
      type: datetime
      nullable: false
  manyToOne:
    Domen:
      targetEntity: Tox\PlaceBundle\Entity\Domen
      inversedBy: Indexes
      joinColumns:
        domen_id:
          referencedColumnName: id
    SearchEngine:
      targetEntity: Tox\PlaceBundle\Entity\SearchEngine
      inversedBy: Indexes
      joinColumns:
        search_engine_id:
          referencedColumnName: id
