Tox\ParserBundle\Entity\MetaData:
  type: entity
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    data:
      type: string
      length: 1000
      nullable: false
  manyToOne:
    Content:
      targetEntity: Tox\ParserBundle\Entity\Content
      inversedBy: Meta
      joinColumns:
        content_id:
          referencedColumnName: id
    PatternType:
      targetEntity: Tox\ParserBundle\Entity\PatternType
      inversedBy: MetaData
      joinColumns:
        pattern_type_id:
          referencedColumnName: id
