Tox\ParserBundle\Entity\Rule:
  type: entity
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    pattern:
      type: string
      length: 255
      nullable: true
  manyToOne:
    Source:
      targetEntity: Tox\ParserBundle\Entity\Source
      inversedBy: Rules
      joinColumns:
        source_id:
          referencedColumnName: id
    Type:
      targetEntity: Tox\ParserBundle\Entity\PatternType
      inversedBy: Rules
      joinColumns:
        pattern_type_id:
          referencedColumnName: id
