Tox\SatelliteBundle\Entity\Satellite:
  type: entity
  fields:
    id:
      id: true
      type: integer
      generator:
        strategy: AUTO
    ftp_account_id:
      type: integer
      nullable: true
  oneToOne:
    Domen:
      targetEntity: Tox\PlaceBundle\Entity\Domen
      inversedBy: Satellite
      joinColumns:
        domen_id:
          referencedColumnName: id
          onDelete: CASCADE
  oneToMany:
    Posts:
      targetEntity: Tox\SatelliteBundle\Entity\Post
      mappedBy: Satellite
    History:
      targetEntity: Tox\SatelliteBundle\Entity\DomenHistory
      mappedBy: Satellite
  manyToOne:
    Theme:
      targetEntity: Tox\SatelliteBundle\Entity\Theme
      inversedBy: Satellites
      joinColumns:
        theme_id:
          referencedColumnName: id
    FtpAccount:
      targetEntity: Tox\PlaceBundle\Entity\FtpAccount
      inversedBy: Satellites
      joinColumns:
        ftp_account_id:
          referencedColumnName: id
