{% extends '::base.html.twig' %}
{% block content %}
<h1>Source edit</h1>
path('source_update', { 'id': entity.id })
{% include 'ToxParserBundle:Source:form.html.twig' with {'form': form } %}

<ul class="record_actions">
    <li>
        <a href="{{ path('source') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('source_delete', { 'id': source.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
        {% endblock %}