{% extends '::base.html.twig' %}
{% block content %}
<h1>Source creation</h1>

<form action="{{ path('source_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="symfony-button-grey" value="Create">
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('source') }}">
            Back to the list
        </a>
    </li>
</ul>
        {% endblock %}