{% extends 'ToxParserBundle:Source:source.html.twig' %}

{% block source %}
<h1>Source creation</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('source') }}">←</a>
    </li>
</ul>
{% include 'ToxParserBundle:Source:form.html.twig' with {'form': form } %}


        {% endblock %}